[Desktop Entry]
Categories=News
Comment=Hacker News Reader
Exec=hacker-news-reader
Icon=io.github.darrellroberts.hacker-news
Name=Hacker News
Terminal=false
Type=Application
