[Desktop Entry]
Categories=News
Comment=Hacker News Reader
Exec=hacker-news-iced
Icon=${SNAP}/meta/gui/hacker-news.png
Name=Hacker News
Terminal=false
Type=Application
